.currency-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    width: 450px;
    height: 200px;
    border: 1px solid black;

}


.amount {
    width: 80px;
    height: 25px;
    margin-right: 10px;
}

.result {
    width: 80px;
    height: 25px;
    margin-right: 10px;
}


.from-Currency-option {
    width: 110px;
    height: 30px;
    margin-right: 10px;
}

.to-Currency-option {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

.exchange-button {
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-Top: 15px;
    align-items: center;
}

.arrow-icon {
    font-size: 20px;
    /* oku büyütür */
    margin: 0 10px;
    /* sağ-sol boşluk */
    vertical-align: middle;
}